database/src/main/mule/Get-record.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	
	<flow name="get_method" doc:id="9fc139d1-2740-4ce2-8a72-41ff7265e27c" >
		<http:listener doc:name="Listener" doc:id="cd690a88-dc08-4ee9-a7e8-b2aa641bc695" config-ref="HTTP_Listener_config" path="/path" outputMimeType="application/csv; ignoreemptyline=true">
			<redelivery-policy />
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="24b85f11-b8ef-4f59-bcec-9d4d6dc37ccf" />
		<db:select doc:name="Select" doc:id="d8b7ee78-37a4-443a-9695-821cf0b9718e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM `Emp-Details`]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1c7eba1c-f939-4f4f-a975-46d062c5e34c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0e0d445a-aeab-4153-9e5e-9a57a71524bd" message="#[payload]"/>
	</flow>
	
</mule>
